<div  class="pt-5 text-dark home" >
  <div class="d-flex align-items-start justify-content-around">
    <div class="mt-5">
      <div class="mt-4">
        <div>
          <h3>I am 
            <span> Don Delice Dushime</span> from Burundi</h3>
        </div>
        <div class="text-main mt-3">
          <h4>
            <div >
              <span id="typing-text"></span>
              <span class="fs-1 ">|</span>
            </div>
          </h4>
         
          
        </div>
      </div>
      <div class="mt-5">
        <div class="fs-3 pt-5">
          <a
          href="https://github.com/dondelice257" 
          class="me-3 icon" 
          role="button"
          title="My Github account">
            <i class="fa-brands fa-github"></i>
          </a>
          <a
          href="https://twitter.com/dondelice257" 
          class="me-3 icon"
          role="button"
          title="My Twitter account">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a
          href="https://linkedin.com/in/dondelice257"
          class="me-3 icon"
          role="button"
          title="My Linkedin account">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a
           href="https://stackoverflow.com/users/20323643/don-delice-dushime"
           class="me-3 icon"
           role="button"
          title="My Stack overflow account">
            <i class="fa-brands fa-stack-overflow"></i>
          </a>
          <a 
          class="me-3 icon"
          role="button"
          title="My Medium blog">
            <i class="fa-brands fa-medium"></i>
          </a>
          <span 
          class="me-3 icon" 
          role="button"
          title="My dev.to account">
            <i class="fa-brands fa-dev"></i>
          </span>
          <span 
          class="icon"
          title="My Hashnode blog"
          role="button">
            <i class="fa-brands fa-hashnode"></i>
          </span>
        </div>
        
      </div>

    </div>
    <div class="d-none d-lg-block">
      <img
       class=""
       style="width:500px"
       src="../../../assets/images/Delice.png" alt="">

    </div>

  </div>
</div>
