/* You can add global styles to this file, and also import other style files */

.bg-black{
    background-color: #000;

}
.text-black{
    color:#000
}

.bg-white{
    background-color: #fff;
}

.text-white{
    color: #fff;
}